body {
  font-family: "Noto Sans", sans-serif;
  background: #0e1217;
}
/* nav start here */
nav{
  max-width: 90%;
  margin: auto;
}
.element-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0px 8px 16px 0px rgba(31, 31, 31, 0.1);
  width: 100%;
}
.new-element{
  display: flex;
  align-items: center;
  gap: 30px;
}
.create-btn button{
  padding: 10px 10px;
  font-size: 16px;
  outline: none;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  background: #dcdcdc;
  border: 2px solid #1e232a;
}
.user-in-element h3{
  color: rgb(230, 226, 226);
  font-size: 18px;
  padding: 10px 10px;
}


/* dropdown start here */
.dropbtn {
  background: #13171c;
  color: rgb(243, 239, 239);
  padding: 10px;
  font-size: 16px;
  border: none;
  border: 2px solid #1e232a;
  cursor: pointer;
  width: 200px;
  text-align: left;
  border-radius: 6px;
  outline: none;
  font-weight: 600;
  transition: all ease-in-out 0.5s;
}

.dropbtn:hover{
  background-color: #202020;
  background: #20252e;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e7e6e6;
  width: 200px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.0);
  z-index: 1;
  border: 1px solid rgb(136, 135, 135);
  border-radius:0px 0px 2px 2px ;
  margin-top: 10px;
  border-radius: 6px;
  padding: 10px;
}

.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #dcdcdc;border-radius: 6px;}

.show {display: block;}
/* nav end here */
/* nav end here */

#search-container{
  margin-left: 90px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: left;
  width: 90%;
}
#search-container button{
  padding: 10px 13px;
  border-radius: 30px;
  cursor: pointer;
  background:transparent;
  border: none;
  outline: none;
}
.btn-load{
  padding: 0px 40px;
}
#search-input {
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #1e232a;
  font-size: 15px;
  padding-left: 15px;
  background: #13171c;
  outline: none;
  color: #dcdcdc;
}
.suggest-witdh{
  text-align: left;
  max-width: 90%;
  margin-left: 90px;
}
.suggest button{
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
  color: rgb(225, 223, 223);
  background: #13171c;
  border: 1px solid #1e232a;
  font-weight: 600;
  transition: all ease-in-out 0.5s;
  border-radius: 40px;
  transition: all ease-in-out 0.5s;
}
.suggest button:hover{
   background: #20252e;
}

#sections-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: auto;
}

.section {
  border: 2px solid #1a2027;
  margin: 10px;
  padding:10px;   
  width:430px;
  text-align: left;
  border-radius: 10px;
  background-color: #0e1217;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
}
/* .action-btn label{
  padding: 9px;
  font-size: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border:none;
  color: rgb(78, 74, 74);
  background: rgb(255, 255, 255);
  cursor: pointer;
  border: 2px solid rgb(237, 237, 237);
} */
.elements button{
  padding: 10px;
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 40px;
  border:none;
  color: rgb(225, 223, 223);
  background: #13171c;
  cursor: pointer;
  float: right;
  border: 1px solid #1e232a;
  font-weight: 600;
  transition: all ease-in-out 0.5s;
  text-wrap: nowrap;
}
.elements button:hover{
  background: #20252e;
}
.elements small{
  font-weight: 500;
  color: rgb(135, 131, 131);
}
.elements h3{
  color: rgb(207, 203, 203);
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 500;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 4.4rem;
  -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
    text-wrap-mode: wrap;
    white-space-collapse: collapse;
} 
 .post-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
 }
 .post-info img{
  width: 35px;
  padding: 2px 0px;
 }
 .post-info span{
  padding-left: 10px;
  font-weight: 500;
  color:#9b9999;
  cursor: pointer;
  font-size: 13px;
 }
 .post-info span:hover{
  color: #d9d6d6;
 }
.section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

#loading-animation {
  text-align: center;
  margin-top: 120px;
  font-size: 20px;
}

#not-found {
  text-align: center;
  padding-top: 50px;
  font-size: 25px;
  color: rgb(37, 37, 37);
}


/* source  code page start here */
.post-date{
  margin-bottom: 10px;
}
.post-date small{
  font-size: 13px;
  font-weight: 600;
  color:#d9d6d6;
}
.post-date span{
  color:#9b9999;
}
.see-profile-btn button{
  border-radius: 40px;
  border:none;
  color:#121416;
  background:#ffffffcf;
  cursor: pointer;
  float: right;
  border: 1px solid #1e232a;
  font-weight: 700;
  transition: all ease-in-out 0.5s;
  text-wrap: nowrap;
  padding: 10px;
  font-size: 15px;
}
.see-profile-btn button:hover{
  background: #d5d3d3;
}
.source-code-page h2{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  cursor: pointer;
  color:#dcdcdc;
}
.source-code-page{
  max-width: 80%;
  margin: auto;
  background-color: #0e1217;
}
.source-code-display{
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items:start;
  gap:20px;
}
.code-owner{
  border: 2px solid #1a2027;
  width: 36%;
  padding: 10px;
  border-radius: 10px;
  background-color: #0e1217;
}
.code-image{
  width: 100%;
}
.owner-profile{
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}
.owner-profile h1{
  padding-left: 10px;
  color: #eeebeb;
  font-size: 22px;
  font-weight: 600;
  width: 250px;
  text-wrap: wrap;
}
.owner-profile img{
  width: 15%;
  border-radius: 50px;
 
}
.owner-profile span{
  font-size: 26px;
  font-weight: 600;
  color: #dcdcdc;
}
.owner-infos{
  padding-left: 20px;
  
}
.owner-infos small{
  
  color: #ababab;
}
.owner-infos p{
  color: #d9d6d6;
  line-height: 23px;
  font-weight: 600;
}
.owner-infos button{
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.source-codes{
  border: 2px solid rgb(205, 205, 205);
  width: 60%;
  border-radius: 10px;
  padding: 10px;
  background-color: #0e1217;
  border: 2px solid #1e232a;
}
.source-codes button{
  float: right;
  border: 2px solid #1e232a;
  cursor: pointer;
  background-color: #151515;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  transition: all ease-in-out 0.5s;
}
.source-codes button:hover{
  background-color: #1d1c1c;
}
.source-codes span{
  font-weight: 600;
  color:#ababab;
}
.socials a{
  cursor: pointer;
  border-radius: 3px;
  font-size: 18px;
  color: white;
  border-radius: none;
  text-decoration: none;
}.socials i{
  color: rgb(234, 232, 232);
  font-size: 20px;
  padding: 5px;
}
/* pre */
.source-codes textarea{
  background-color: #1C1f26;
  color: white;
  padding: 10px;
  font-size: 15px;
  width: 100%;
  min-height: 63vh;
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
  border: 3px solid #242a32;
}
/* source code page end here */
/* loading start */
.loading{
  margin-top: 100px;
}
/* media 1186px start */
@media only screen and (max-width: 1186px){
  .source-code-page{
      max-width: 90%;
      margin: auto;
      background-color: rgb(255, 255, 255);
  }
}

@media only screen and (max-width:1067px){
  .source-code-page{
      max-width: 95%;
      margin: auto;
      background-color: rgb(255, 255, 255);
  }
}

@media only screen and (max-width:1004px){
  .source-code-page{
      max-width: 100%;
      margin: auto;
      background-color: rgb(255, 255, 255);
  }
}

@media only screen and (max-width:939px){
  /* source  code page start here */
.source-code-page{
  max-width:90%;
  margin: 10px;
  background-color: rgb(255, 255, 255);
}
.source-code-display{
  max-width: 100%;
  margin: auto;
  display: block;
  align-items:start;
  gap:20px;
}
/* owner media start here */

.code-owner{
  border: 1px solid black;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
}
.code-image{
  width: 100%;
}
.owner-profile{
  display: flex;
  text-align: center;
  padding-bottom: 15px;
}
.owner-profile h1{
  padding-left: 10px;
  color: #333333;
  font-size: 25px;
}
.owner-profile img{
  width: 15%;
  border-radius: 50px;
}
.owner-profile span{
  font-size: 26px;
  font-weight: 600;
}
.owner-infos{
  padding-left: 20px;
  
}
.owner-infos small{
  
  color: #434343;
}
.owner-infos p{
  color: #333333;
  line-height: 23px;
  font-weight: 600;
}
.owner-infos button{
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.source-codes{
  border: 1px solid black;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
}
.source-codes button{
  float: right;
  border: none;
  cursor: pointer;
  background-color: #171717;
  color: white;
  padding: 4px 5px;
}

.source-codes span{
  font-weight: 600;
}
/* pre */
.source-codes textarea{
  background-color: #171717;
  color: white;
  padding: 0px;
  font-size: 15px;
  width: 100%;
  min-height: 45vh;
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-wrap: nowrap;
}
/* source code page end here */
.suggest-witdh{
  display: none;
}
}

@media only screen and (max-width:402px){
   /* source  code page start here */
.source-code-page{
  max-width:95%;
  margin: auto;
  background-color: rgb(255, 255, 255);
}
.source-code-page h2{
  font-size: 20px;
}
.source-code-display{
  max-width: 95%;
  margin: auto;
  display: block;
  align-items:start;
  gap:20px;
}
/* owner media start here */

.code-owner{
  border: 1px solid rgb(96, 96, 96);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
}
.code-image{
  width: 100%;
}
.owner-profile{
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}
.owner-profile h1{
  padding-left: 10px;
  color: #333333;
  font-size: 22px;
}
.owner-profile img{
  width: 15%;
  border-radius: 50px;
}
.owner-profile span{
  font-size: 26px;
  font-weight: 600;
}
.owner-infos{
  padding-left: 20px;
  
}
.owner-infos small{
  
  color: #434343;
}
.owner-infos p{
  color: #333333;
  line-height: 23px;
  font-weight: 600;
}
.owner-infos button{
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.source-codes{
  border: 1px solid rgb(96, 96, 96);
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
}
.source-codes button{
  float: right;
  border: none;
  cursor: pointer;
  background-color: #171717;
  color: white;
  padding: 4px 5px;
}

.source-codes span{
  font-weight: 600;
}
/* pre */
.source-codes textarea{
  background-color: #171717;
  color: white;
  padding: 0px;
  font-size: 15px;
  width: 100%;
  min-height: 45vh;
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-wrap: nowrap;
}
.not-found {
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
  color: none;
}
.not-found h2{
  color: rgb(67, 67, 67);
}
/* source code page end here */

.search-engine{
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
  max-width: 99%;
}

.section img {
  max-width: 100%;
  height: auto;
  border-radius: 8px 8px 0px 0px;
}
#sections-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 99%;
  margin: auto;
}

#search-container{
  margin: auto;
  width: 100%;
}
#search-container button{
  padding: 10px 13px;
  border-radius: 30px;
  cursor: pointer;
  background-color: black;
  color: white;

 
}

#search-input {
  border: 1px solid rgb(192, 190, 190);
  width: 265px;
  padding: 10px;
  border-radius: 25px;
  
  font-size: 16px;
}


.section {
  border: 2px solid #e5e5e5;
  margin: 10px;
  padding:1px;
  width:420px;
  text-align: left;
  border-radius: 10px;
  background-color: #faf8f8;
  box-shadow: 0 2px 10px 2px rgba(77, 77, 77, 0.2);
}
.elements button{
  padding: 8px;
  font-size: 12px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border:none;
  color: white;
  background: rgb(31, 31, 31);
  cursor: pointer;
}
.elements small{
  float: right;
  padding-right: 15px;
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
  color: rgb(93, 93, 93);
}

}

/* nav media start here */

@media screen and (max-width: 420px){
  nav{
    max-width: 100%;
    margin: auto;
  }
  .create-btn button{
    display: none;
    width: 100px;
  padding: 10px 5px;
  font-size: 13px;
  outline: none;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  background: #dcdcdc;
  border: 2px solid #1e232a;
}
  .card button{
    width: 100%;
    font-size:15px ;
    margin: auto;
  }
  .text-center{
    font-size: 25px;
    font-weight: 700;
    color: #3b3b3b;
  }
  .element-nav img{
    width: 60%;
  }
  .dropbtn {
    background: #13171c;
    color: rgb(243, 239, 239);
    padding: 10px;
    font-size: 13px;
    border: none;
    border: 2px solid #1e232a;
    cursor: pointer;
    width: 140px;
    text-align: left;
    border-radius: 6px;
    outline: none;
    font-weight: 600;
    transition: all ease-in-out 0.5s;
    }
    .dropdown-content{
      width: 140px;
      font-size: 13px;
    }
    #search-container{
      width: 100%;
    }
    #search-container button{
      padding: 10px 13px;
      border-radius: 30px;
      cursor: pointer;
      background:transparent;
      border: none;
      outline: none;
      margin-left: 190px;
    }
    #search-input{
  width: 330px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #1e232a;
  font-size: 15px;
  padding-left: 15px;
  background: #13171c;
  outline: none;
  color: #dcdcdc;
    }
    .suggest-witdh{
      text-align: left;
      max-width: 100%;
      display:contents;
      font-size: 13px;
    }
    .suggest button{
      padding: 5px;
      margin-top: 25px;
    }
    .section {
      border: 2px solid #1a2027;
      margin: 10px;
      padding:10px;   
      width:430px;
      text-align: left;
      border-radius: 10px;
      background-color: #0e1217;
      box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
    }
    .elements button{
      padding: 10px;
      font-size: 14px;
      margin-left: 10px;
      margin-bottom: 10px;
      border-radius: 40px;
      border:none;
      color: rgb(225, 223, 223);
      background: #13171c;
      cursor: pointer;
      float: right;
      border: 1px solid #1e232a;
      font-weight: 600;
      transition: all ease-in-out 0.5s;
      text-wrap: nowrap;
    }
    .elements small{
      font-weight: 500;
      color: rgb(135, 131, 131);float: left;
    }
    .elements h3{
      color: rgb(207, 203, 203);
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.3rem;
      font-weight: 500;
      overflow: hidden;
      overflow-x: hidden;
      overflow-y: hidden;
      max-height: 4.4rem;
      -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
      text-overflow: ellipsis;
      white-space: normal;
        text-wrap-mode: wrap;
        white-space-collapse: collapse;
    } 
    .post-info img{
      width:30px;
      padding: 3px 0px;
     }
  .element-nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      box-shadow: 0px 8px 16px 0px rgba(31, 31, 31, 0.1);
  }

    .dropdown-content a {
      color: black;
      padding: 8px 12px;
      text-decoration: none;
      display: block;
    }
}
